USE [master]
GO
/****** Object:  Database [QuestionBank_DB]    Script Date: 1/21/2024 9:19:47 PM ******/
CREATE DATABASE [QuestionBank_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuestionBank_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuestionBank_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuestionBank_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuestionBank_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuestionBank_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuestionBank_DB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 1/21/2024 9:19:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Difficulties]    Script Date: 1/21/2024 9:19:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Difficulties](
	[DifficultyId] [int] IDENTITY(1,1) NOT NULL,
	[Difficulty] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_dbo.Difficulties] PRIMARY KEY CLUSTERED 
(
	[DifficultyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lessons]    Script Date: 1/21/2024 9:19:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lessons](
	[LessonId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_dbo.Lessons] PRIMARY KEY CLUSTERED 
(
	[LessonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionOptions]    Script Date: 1/21/2024 9:19:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionOptions](
	[OptionId] [int] IDENTITY(1,1) NOT NULL,
	[Option] [nvarchar](20) NOT NULL,
	[QuestionId] [int] NOT NULL,
	[OptionNumber] [int] NOT NULL,
 CONSTRAINT [PK_dbo.QuestionOptions] PRIMARY KEY CLUSTERED 
(
	[OptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 1/21/2024 9:19:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[QuestionId] [int] IDENTITY(1,1) NOT NULL,
	[Question] [nvarchar](50) NOT NULL,
	[TypeId] [int] NOT NULL,
	[DifficultyId] [int] NOT NULL,
	[LessonId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Questions] PRIMARY KEY CLUSTERED 
(
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionTypes]    Script Date: 1/21/2024 9:19:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionTypes](
	[TypeId] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.QuestionTypes] PRIMARY KEY CLUSTERED 
(
	[TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Difficulties] ON 

INSERT [dbo].[Difficulties] ([DifficultyId], [Difficulty]) VALUES (1, N'آسان')
INSERT [dbo].[Difficulties] ([DifficultyId], [Difficulty]) VALUES (2, N'متوسط')
INSERT [dbo].[Difficulties] ([DifficultyId], [Difficulty]) VALUES (3, N'سخت')
SET IDENTITY_INSERT [dbo].[Difficulties] OFF
GO
SET IDENTITY_INSERT [dbo].[Lessons] ON 

INSERT [dbo].[Lessons] ([LessonId], [Name]) VALUES (1, N'ریاضی')
INSERT [dbo].[Lessons] ([LessonId], [Name]) VALUES (2, N'فارسی')
INSERT [dbo].[Lessons] ([LessonId], [Name]) VALUES (3, N'انگلیسی')
SET IDENTITY_INSERT [dbo].[Lessons] OFF
GO
SET IDENTITY_INSERT [dbo].[QuestionOptions] ON 

INSERT [dbo].[QuestionOptions] ([OptionId], [Option], [QuestionId], [OptionNumber]) VALUES (1, N'گزینه 1', 7, 1)
INSERT [dbo].[QuestionOptions] ([OptionId], [Option], [QuestionId], [OptionNumber]) VALUES (2, N'گزینه 2', 7, 2)
INSERT [dbo].[QuestionOptions] ([OptionId], [Option], [QuestionId], [OptionNumber]) VALUES (3, N'گزینه 3', 7, 3)
SET IDENTITY_INSERT [dbo].[QuestionOptions] OFF
GO
SET IDENTITY_INSERT [dbo].[Questions] ON 

INSERT [dbo].[Questions] ([QuestionId], [Question], [TypeId], [DifficultyId], [LessonId]) VALUES (2, N'کنایه را تعریف کنید.', 1, 1, 2)
INSERT [dbo].[Questions] ([QuestionId], [Question], [TypeId], [DifficultyId], [LessonId]) VALUES (3, N'انواع فعل هارا در انگلیسی توضیح دهید', 1, 1, 3)
INSERT [dbo].[Questions] ([QuestionId], [Question], [TypeId], [DifficultyId], [LessonId]) VALUES (4, N'آدرس آیپی را توضیح دهید', 1, 2, 4)
SET IDENTITY_INSERT [dbo].[Questions] OFF
GO
SET IDENTITY_INSERT [dbo].[QuestionTypes] ON 

INSERT [dbo].[QuestionTypes] ([TypeId], [Type]) VALUES (1, N'تشریحی')
INSERT [dbo].[QuestionTypes] ([TypeId], [Type]) VALUES (2, N'تستی')
INSERT [dbo].[QuestionTypes] ([TypeId], [Type]) VALUES (3, N'جاخالی')
SET IDENTITY_INSERT [dbo].[QuestionTypes] OFF
GO
/****** Object:  Index [IX_QuestionId]    Script Date: 1/21/2024 9:19:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_QuestionId] ON [dbo].[QuestionOptions]
(
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DifficultyId]    Script Date: 1/21/2024 9:19:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_DifficultyId] ON [dbo].[Questions]
(
	[DifficultyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_LessonId]    Script Date: 1/21/2024 9:19:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_LessonId] ON [dbo].[Questions]
(
	[LessonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TypeId]    Script Date: 1/21/2024 9:19:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_TypeId] ON [dbo].[Questions]
(
	[TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[QuestionOptions] ADD  DEFAULT ((0)) FOR [OptionNumber]
GO
ALTER TABLE [dbo].[QuestionOptions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.QuestionOptions_dbo.Questions_QuestionId] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Questions] ([QuestionId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[QuestionOptions] CHECK CONSTRAINT [FK_dbo.QuestionOptions_dbo.Questions_QuestionId]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Questions_dbo.Difficulties_DifficultyId] FOREIGN KEY([DifficultyId])
REFERENCES [dbo].[Difficulties] ([DifficultyId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_dbo.Questions_dbo.Difficulties_DifficultyId]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Questions_dbo.Lessons_LessonId] FOREIGN KEY([LessonId])
REFERENCES [dbo].[Lessons] ([LessonId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_dbo.Questions_dbo.Lessons_LessonId]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Questions_dbo.QuestionTypes_TypeId] FOREIGN KEY([TypeId])
REFERENCES [dbo].[QuestionTypes] ([TypeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_dbo.Questions_dbo.QuestionTypes_TypeId]
GO
USE [master]
GO
